
/****** global ******/

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
}




/* logo  */

#nav {
    position: absolute;
}

#logo span {
    position: fixed;
    left: 85px;
    top: 20px;
    color: #8b6800;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Rozha One', serif;
    font-size: 1.75em;
    text-transform: uppercase;
    font-weight: lighter;
    z-index: 1000;
}

#tree-logo {
    position: fixed;
    top: 15px;
    left: 25px;
    width: 40px;
    z-index: 1000000;
}





/****** Burger ******/

.toggle {
    list-style: none;
    position: fixed;
    right: 0px;
    top: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    padding: 25px;
    z-index: 100000;
}

.toggle .bar1,
.toggle .bar2,
.toggle .bar3 {
    width: 25px;
    height: 1px;
    background: #8b6800;
    margin-bottom: 8px;
    transition: all 0.6s;
}

.toggle .bar3 {
    margin-bottom: 0px;
}


/* Change it to an X */
#nav.open .toggle .bar1 {
transform: rotate(45deg) translate(8px, 7px);
background: #9c7910;
}
#nav.open .toggle .bar2 {
opacity: 0;
background: #9c7910;
}
#nav.open .toggle .bar3 {
transform: rotate(-45deg) translate(7px, -6px);
background: #9c7910;
}







/****** newsletter-signup ******/

#newsletter-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: all 1s;
    opacity: 0;
    z-index: -1000;
    /* opacity: 1;
    z-index: 100000000000; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-open {
    opacity: 1;
    z-index: 100000000000;
}

.newsletter-signup-box {
    width: 50%;
    height: 50%;
    background: #8b6800;
    text-align: center;
}

.newsletter-signup-box p {
    font-size: 2em;
    color: rgb(93, 224, 124);
}

.newsletter-signup-box p span {
    font-size: .5em;
    color: #d7fa95;
}

.email-input-box {
    width: 250px;
    margin: 10px;
}

.email-submit-button {
    display: block;
    background: rgb(93, 224, 124);
    color: #444;
    margin: 50px auto;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.email-signup-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-flexbox {
    margin-top: 50px;
}

#close-button {
    position: absolute;
    cursor: pointer;
    padding: 20px;
    color: #fff;
}


/****** the navigation lightbox ******/

.lightbox {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* background: #b2f95f; */
    background: #d7fa95;
    position: fixed;
    transition: all 1s;
    opacity: 0;
    z-index: -100;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-open {
    opacity: 1;
    z-index: 10000;
}

.nav-list {
    list-style: none;
    font-size: 2em;
    text-align: center;
    letter-spacing: .25em;
    line-height: 2.75em;
    text-transform: uppercase;
    opacity: .9;
}

.nav-list li a {
    color: #9c7910;
    font-family: 'Raleway', sans-serif;
    transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
}

.nav-list li a:hover {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #c79e21;
    font-size: 1.1em;
}

.nav-list-entry-animation {
    -webkit-animation: slideInDown .35s;
    -moz-animation: slideInDown .35s;
    -o-animation: slideInDown .35s;
    animation: slideInDown .35s;
    /* name duration timing-function delay iteration-count direction fill-mode */

}.nav-list-exit-animation {
    -webkit-animation: slideOutUp .35s;
    -moz-animation: slideOutUp .35s;
    -o-animation: slideOutUp .35s;
    animation: slideOutUp .35s;
    /* name duration timing-function delay iteration-count direction fill-mode */
}





/****** hero section ******/

.hero-section {
    width: 100%;
    height: 100vh;
    background: rgb(255, 235, 208);
    /* transform: translateY(-20px); */
}

.hero {
    position: absolute;
    top: 30%;
    left: 100px;
    transition: ease-in .5s;
    color: #9c7910;
}

.hero h1 {
    font-size: 5em;
    display: inline-block;
    color: rgb(93, 224, 124);
    animation: slideInLeft 1s;
    -webkit-animation: slideInLeft 1s;
    -moz-animation: slideInLeft 1s;
    -o-animation: slideInLeft 1s;
    transition: ease-in .5s;
}

.hero h4 {
    font-size: 1.1em;
    font-weight: bold;
    animation: slideInLeft 1s;
    -webkit-animation: slideInLeft 1s;
    -moz-animation: slideInLeft 1s;
    -o-animation: slideInLeft 1s;
    transition: ease-in .5s;
}

.hero h4 span {
    color: #9c7910;
}

.hero h4 i {
    font-size: .75em;
    font-style: normal;
    font-weight: lighter;
    margin-left: 25px;
    color: #666;
}

.hero button {
    cursor: pointer;
    padding: 15px 0px;
    margin-left: 3px;
    border: none;
    border-radius: 28px 5px 28px 8px;
    background: rgb(136, 253, 164);
    color: #444;
    font-family: 'Raleway', serif;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0;

    z-index: 100;
    position: absolute;
    right: 10%;
    transform: translateX(700px);
    margin-top: -90px;
    width: 550px;

    animation: pulse-pulse 4s ease forwards 1s;
    transition: .5s ease;
}

.hero button:hover {
    background: #8b6800;
    color: #fff;
    padding: 25px 0px;
    width: 600px;
    margin-top: -100px;
}

@keyframes pulse-pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .9;
    }
}

#tree {
    position: fixed;
    bottom: -5px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

.bounceInUp {
    animation: bounceInUp .3s;
    -webkit-animation: bounceInUp .3s;
    -moz-animation: bounceInUp .3s;
    -o-animation: bounceInUp 3s;
    transition: ease-in .5s;
}

.slideOutDown {
    /* animation: slideOutDown  1s;
    -webkit-animation: slideOutDown  1s;
    -moz-animation: slideOutDown  1s;
    -o-animation: slideOutDown  1s;
    transition: ease-in .5s; */
    margin-bottom: -250px;
    transition: ease .5s;
}

.slideInUp {
    /* animation: slideInUp 1s;
    -webkit-animation: slideInUp 1s;
    -moz-animation: slideInUp 1s;
    -o-animation: slideInUp 1s;
    transition: ease-in .5s; */
    margin-bottom: -5px;
    transition: ease .5s;
}




/****** scroll section ******/

.scroll-section {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.col {
    width: 50%;
}

.col img {
    width: 100%;
    margin-top: -10;
    padding: 0;
}

.slideshow {
    position: relative;
}

.slide {
    width: 100%;
    position: absolute;
    transition: opacity 1.5s ease-in;
  }
  
.slide + .slide {
    opacity: 0;
}

#mobile-feature {
    display: none;
}



/****** footer ******/

footer {
    background: #444;
    color: #fff;
    font-size: .8em;
    padding: 50px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav-list {
    list-style: none;
    margin-right: 50px;
    text-align: right;
    line-height: 2em;
}

.footer-nav-list li a {
    /* color: rgb(136, 253, 164); */
    color: #c79e21;
    /* color: #8b6800; */
    font-weight: 300;
    text-transform: capitalize;
}

.copyright {
    opacity: .5;
}

.copyright-mobile {
    text-align: center;
    opacity: .5;
    display: none;
}





/*****************************  start media queries **************************/


/* media query laptop */
@media all and (max-width: 1299px) {

    .hero {
        top: 15%;
    }

    .hero button {
        margin-top: 75px;
        width: 400px;
        font-size: .8em;
        font-weight: 300;
        transform: translateX(500px);
    }

    .hero button:hover {
        background: #8b6800;
        color: #fff;
        font-size: 1em;
        padding: 25px 0px;
        width: 475px;
        margin-top: 65px;
        transform: translateX(520px);
    }

}

@media all and (max-width: 1099px) {

    .hero button {
        margin-top: 75px;
        transform: translateX(-60px);
    }

    .hero button:hover {
        margin-top: 60px;
        transform: translateX(10px);
    }

}


/* media query tablet */

@media all and (max-width: 999px) {

    .hero {
        top: 15%;
        left: 50px;
    }

}


/* media query mobile */

@media all and (max-width: 599px) {

    .nav-list {
        font-size: 1em;
        letter-spacing: .25em;
        line-height: 2.75em;
    }

    .hero {
        top: 5%;
        left: 25px;
    }

    .hero h1 {
        font-size: 3.5em;
    }

    .hero h4 {
        padding-top: 0px;
    }

    .hero h4 i {
        display: block;
        margin-left: 0;
        padding-top: 10px;
    }

    .hero button {
        top : 75%;
        width: 220px;
        font-size: .8em;
        line-height: 2em;
        padding: 15px 10px;
        border-radius: 8px 8px 30px 8px;

        transform: translateX(-102px);
        margin: 100px auto;
    }

    .hero button:hover {
        background: #8b6800;
        color: #fff;
        font-size: .9em;
        padding: 20px 0px;
        width: 240px;
        /* margin-left: -120px; */
        margin-top: 100px;
        transform: translateX(-80px);
    }

    .scroll-section {
        flex-flow: column nowrap;
    }

    .col {
        width: 100%;
    }

    .slideshow  {
        width: 100%;
        display: block;
    }

    #mobile-feature {
        display: block;
    }

    footer {
        flex-flow: column-reverse;
    }

    .footer-nav-list {
        text-align: center;
        margin-right: 0px;
    }

    .copyright {
        display: none;
    }
    
    .copyright-mobile {
        display: block;
        padding-top: 50px; 
    }

}













/*************************************** BUBBLY BUTTON CSS *******************************************/

/* $fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff; */


/* .bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
} */